body {
  --colorRed: #EA5455;
  --colorBlue: #43A5FF;
  --colorOrange: #FF9F43;
  --colorPurple: #7367F0;
  --colorGreen: #28C76F;
  --color666: #666;
  --color777: #777;
  --color111: #111;
}

.bh-disabled {
  display: none !important;
}

.text-right{
  text-align: right;
}

.bh-text-red {
  color: var(--colorRed) !important;
}

.bh-text-orange {
  color: var(--colorOrange) !important;
}

.bh-text-green {
  color: var(--colorGreen) !important;
}

.bh-text-blue {
  color: var(--colorBlue) !important;
}

.bh-text-666 {
  color: var(--color666) !important;
}

.bh-text-777 {
  color: var(--color777) !important;
}

.bh-text-111 {
  color: var(--color111) !important;
}

.label-nav-menu {
  padding: 0 20px;

  .icn {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: var(--colorPurple);
    display: inline-block;
    font-family: Nucleo;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  .txt {
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: Roboto-Medium;
    color: #5E5873;

  }
}

.header-fixed-top {
  position: fixed;
  top: 0;
  left: 260px;
  z-index: 99;
  width: calc(100% - 260px);
  box-sizing: border-box;
  height: 60px;
  padding: 0 28px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user-info {
    display: flex;
    align-items: center;
    font-family: Roboto-Medium;

    .name {
      margin-right: 1rem;
    }

    .ava {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}

.main-menu ul.navigation-main > li + li {
  margin-top: 1rem;
}

.main-menu-content {
  overflow-y: scroll;

  &:hover {
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--bs-gray);
    }
  }

  &::-webkit-scrollbar {
    width: 6px;

  }

  &::-webkit-scrollbar-track {

    border-radius: 6px;
    transition: background 0.3s;
  }

  &::-webkit-scrollbar-thumb {

  }
}

.bh-cms-wrapper {

  .table-responsive {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EFEFEF;
    border-radius: 5px;

    .form-check-inline {
      margin-right: 0;
      padding: 0;
      display: block;

      input {
        margin: 0;
      }
    }

    .table {
      & > :not(caption) > * > * {
        padding: 1rem 0.5rem;
        text-transform: unset;

        background: #ffffff;
        color: #666;
      }

      td:nth-child(1), th:nth-child(1) {
        padding-left: 1rem;
      }

      td:nth-last-child(1), th:nth-last-child(1) {
        padding-right: 1rem;
      }
    }

    table {
      margin: 0;

      .title-col {
        font-family: Roboto-Medium;
        font-size: 0.9rem;
        color: #111;
        line-height: 110%;
      }

      td {
        font-size: .9rem;
      }

      td, th {
        &:nth-child(1) {
          width: 1rem;
        }
      }

      tr:nth-last-child(1) {
        td {

        }
      }
    }
  }

  .filter-table {
    padding: 0 1rem;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EFEFEF;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;

    .filter {
      & + .filter {
        margin-left: 1rem;
      }

      &.active, &:hover {
        border-bottom: 2px solid var(--colorPurple);
        opacity: 1;

        .txt {
          font-family: Roboto-Medium;

        }

        .icn {

        }
      }

      display: flex;
      align-items: center;
      padding: 1rem 0;
      font-size: 0.9rem;
      line-height: 100%;
      font-family: Roboto-Regular;
      color: #111111;
      opacity: 0.4;

      .icn {
        margin-left: 5px;
        color: var(--colorPurple);
      }
    }
  }

}

.form-label {
  font-family: Roboto-Medium;
  color: #111;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
  span {
    margin-left: 4px;
    color: var(--colorRed);
  }
}

.selectBox {
  &.active {
    .list-select-type {
      opacity: 1;
      visibility: visible;
    }
  }

  position: relative;
  z-index: 10;
  cursor: pointer;

  .selected {
    height: 40px;
    border: 1px solid #D8D6DE;
    padding: 0 1.25rem;
    background: #FFFFFF;
    position: relative;

    &:after {
      border: none !important;
      content: ' ';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
      color: #6e6b7b;
      width: 14px;
      height: 11px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.25rem;
      padding: 0;
      margin: 0;
      vertical-align: 0;
    }
  }

  .select-type {

  }

  .selected, .select-type {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: .9rem;
    line-height: 1.1rem;
    font-family: Roboto-Regular;
    color: #111111;

    .icn {
      &.purple {
        background: var(--colorPurple);
      }

      &.blue {
        background: var(--colorBlue);
      }

      &.red {
        background: var(--colorRed);
      }

      &.orange {
        background: var(--colorOrange);
      }

      &.green {
        background: var(--colorGreen);
      }

      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .list-select-type {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    list-style-type: none;
    width: 100%;

    li:hover {
      background: #F8F8F8;
    }
  }
}

.btn-close-modal {
  &:hover {
    opacity: 1;
  }

  font-family: Nucleo;
  font-size: 1rem;
  color: #555;
  opacity: .5;
}

.modal-header {
  position: relative;

  &:before {
    background: var(--colorPurple);
    width: 4px;
    height: 18px;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: block;
    content: '';
  }
}

.status {
  display: flex;
  align-items: center;

  &.bh-stt-waiting, &.bh-stt-orange {
    .color {
      background: var(--colorOrange);
    }
  }

  &.bh-stt-progress, &.bh-stt-blue {
    .color {
      background: var(--colorBlue);
    }
  }

  &.bh-stt-success, &.bh-stt-green {
    .color {
      background: var(--colorGreen);
    }
  }

  &.bh-stt-cancel, &.bh-stt-red {
    .color {
      background: var(--colorRed);
    }
  }

  .color {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .text {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #777;
    line-height: 110%;
  }
}

.status-ship {
  display: flex;
  align-items: center;

  &.bh-ship-done {
    .icn {
      color: var(--colorGreen);
    }
  }

  &.bh-ship-not {
    .icn {
      color: #666;
    }
  }

  &.bh-ship-cancel {
    .icn {
      color: var(--colorRed);
    }
  }

  .icn {
    font-size: 8px;
    margin-right: 8px;
    font-family: Nucleo;
  }

  .text {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #777;
    line-height: 110%;
  }
}

.status-pay {
  display: flex;
  align-items: center;

  &.bh-pay-done {
    .icn {
      color: var(--colorGreen);
    }
  }

  &.bh-pay-not {
    .icn {
      color: var(--colorRed);
    }
  }


  .icn {
    font-size: 8px;
    margin-right: 8px;
    font-family: Nucleo;
  }

  .text {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #777;
    line-height: 110%;
  }
}

.btn-print {
  display: flex;
  align-items: center;

  .icn {
    font-size: 12px;
    margin-right: 8px;
    font-family: Nucleo;
    color: #000;
    display: block;
  }

  .txt {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #111;
    opacity: .6;
    line-height: 110%;
  }
}

.btn-history {
  display: flex;
  align-items: center;

  .icn {
    font-size: 12px;
    margin-right: 8px;
    font-family: Nucleo;
    color: #000;
    display: block;
  }

  .txt {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #111;
    opacity: .6;
    line-height: 110%;
  }
}

.btn-sort-table {
  display: flex;
  align-items: center;

  .icn {
    font-size: 12px;
    margin-left: 6px;
    font-family: Nucleo;
    color: #666;
    display: block;
  }

  .txt {
    font-family: Roboto-Medium;
    font-size: .9rem;
    color: #111;
    line-height: 110%;

  }
}

.btn-pin {
  &.active, &:hover {
    background: #FF9F43;
    border: 1px solid #FF9F43;

    span {
      color: #ffffff;
    }
  }

  padding: 0.786rem 1rem;
  transition: .3s;
  background: #FFFFFF;
  border: 1px solid #D8D6DE;
  box-sizing: border-box;
  font-family: Nucleo;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    color: #C8C8C8;
  }
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;

  .icn {
    margin-left: .5rem;
    font-size: 1rem;
    font-family: Nucleo;
  }
}

.bh-dropdown {
  margin-right: 1.5rem;
}

.mr-075 {
  margin-right: .75rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-075 {
  margin-left: .75rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.input-group.bh-seacrh {
  background: #FFFFFF;
  border: 1px solid #D8D6DE;
  box-sizing: border-box;
  border-radius: 5px;
  padding: .5rem 1.1rem;

  .bh-input-search {
    border: none;
    outline: none;
    font-family: Roboto-Regular;
    font-size: .9rem;
    line-height: 1.1rem;
    flex-grow: 1;

    &::placeholder {
      opacity: .5;
    }
  }

  .icn {
    display: block;
    flex-shrink: 0;
    margin-left: 1rem;
    font-family: Nucleo;
    font-size: 1.1rem;
    color: #666;
  }
}