@mixin bg-thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

@mixin img-border-inside {
  position: relative;
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    content: '';
    z-index: 1;
    box-sizing: border-box;
    border-radius: 6px;
  }
}

@mixin img-border-gallery {
  position: relative;
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    content: '';
    z-index: 1;
    box-sizing: border-box;
  }
}

.bb05 {
  border-bottom: 1px solid #E7E7E7;
}

.bt05 {
  border-top: 1px solid #E7E7E7;
}

@media screen and (max-width: 800px) {
  .bb05 {
    border-bottom: 0.5px solid #E7E7E7;
  }
  .bt05 {
    border-top: 0.5px solid #E7E7E7;
  }

}