@import "fonts";
@import "mixins";
@import "common";
@import "icons";

//Layout
@import "page-manage-systems";
@import "page-manage-menu";


.table-user-group, .table-bh {
  .role {
    &.adm {
      color: var(--colorRed);
    }

    &.staff {
      color: var(--colorPurple);
    }

    &.mod {
      color: var(--colorOrange);
    }

    &.sale {
      color: var(--colorBlue);
    }
  }

  .funcsRow {
    .edit-btn {
      margin-right: 0.75rem;
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    .ava-user {
      margin-right: 10px;
      flex-shrink: 0;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .name-user {
      flex-grow: 1;
      line-height: 101%;
      font-family: Roboto-Regular;
      font-size: .9rem;
      color: #111111;
    }
  }

  .menu-total-product{
    display: flex;
    align-items: center;
    .ava{
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 12px;
      img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 5px;

      }
    }
    .name{
      font-size: .9rem;
      line-height: 101%;
      color: #111111;
    }
  }
}

