svg {
  width: 100%;
  height: auto;
  display: block;
}

/* Custom animation fancybox */
.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateY(0);
}

.fancybox-fx-slide-in-out-right.fancybox-slide--previous {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out-right.fancybox-slide--next {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out-right.fancybox-slide--current {
  transform: translateX(0);
}

/* Custom flexbox */

.flexBox {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.al-ct {
  align-items: center;
}

/* Custom input number order */
.number-order {
  display: flex;
  align-items: center;

  span {
    cursor: pointer;
  }

  .minus, .plus {
    width: 28px;
    display: block;
  }

  input {
    margin: 0 10px;
    height: 30px;
    width: 38px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 140%;
    font-family: BVNPro-Medium;
    color: #222222;

  }
}

/* Custom checkbox options order */

.form-opt {
  & + .form-opt {
    padding-top: 15px;
    margin-top: 15px;
    @extend .bt05;
  }

  display: block;

  label {
    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 1.5px solid #000000;
      border-radius: 3px;
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 15px;
    }

    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: block;
    }

    .txt {
      margin-right: auto;
      margin-left: 0;
      font-size: 13px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      color: #222222;

    }

    .price {
      font-size: 12px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      text-align: right;
      color: #666666;

      //&.plus-price {
      //  font-family: BVNPro-Medium;
      //  color: #222222;
      //}
    }
  }

  input {
    &:checked + label:before {
      background: var(--colorRed);
      border: 1.5px solid var(--colorRed);
    }

    &:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      width: 13px;
      height: 11px;
      background-image: url('../img/checkbox-stick.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:checked + label .txt, &:checked + label .price {
      font-family: BVNPro-Medium;
      color: #222222;
    }

    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

}

/* Custom radio options order */
.form-radio {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    display: inline-block;
    font-family: BVNPro-Regular;
    font-size: 14px;
    line-height: 150%;
    color: #222222;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1.5px solid #999999;
  }
  [type="radio"]:checked + label:before {

    border: 1.5px solid var(--colorRed);

  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--colorRed);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Custom input hours order */
.timepicker {
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 8px 9px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  span {
    font-size: 14px;
    line-height: 100%;
    font-family: BVNPro-Regular;
    margin: 0 4px;
    display: block;
    color: #222222;

  }
  .input-hour {
    width: 20px;
    height: 14px;
    outline: none;
    border: none;
    text-align: center;
    background: none;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 100%;
    font-family: BVNPro-Regular;
    color: #222222;
    padding: 0;
    &::placeholder {
      opacity: 0.5;
    }

  }

}





