@font-face {
  font-family: BVNPro-Regular;
  src: url('../fonts/BVNPro-Regular.ttf');
}

@font-face {
  font-family: BVNPro-RegularItalic;
  src: url('../fonts/BVNPro-RegularItalic.ttf');
}

@font-face {
  font-family: BVNPro-Medium;
  src: url('../fonts/BVNPro-Medium.ttf');
}

@font-face {
  font-family: BVNPro-SemiBold;
  src: url('../fonts/BVNPro-SemiBold.ttf');
}

@font-face {
  font-family: BVNPro-Bold;
  src: url('../fonts/BVNPro-Bold.ttf');
}

@font-face {
  font-family: BVNPro-Bold;
  src: url('../fonts/BVNPro-Bold.ttf');
}