.Popup-checkout {
  width: 100vw;

  .popup-content {
    background: #EEEEEE;
    padding-top: 72px;
    padding-bottom: 150px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFFFFF;
    height: 62px;
    box-shadow: inset 0px -0.5px 0px #E6E6E6;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;

    .back-btn {
      position: absolute;
      width: 24px;
      top: 50%;
      left: 11px;
      transform: translateY(-50%);
      display: block;
    }

    .heading {
      font-size: 19px;
      line-height: 130%;
      font-family: BVNPro-SemiBold;
      text-align: center;
      color: #222222;

    }
  }

  .infoBox {
    background: #FFFFFF;
    margin-bottom: 10px;

    .title {
      padding: 15px 20px 15px 33px;
      @extend .bb05;
      position: relative;

      &:before {
        background: var(--colorRed);
        width: 4px;
        height: 17px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        content: '';
        position: absolute;
      }

      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      text-transform: uppercase;
      color: #222222;

    }
  }

  .contentBox {
    padding: 20px;
  }

  .infoGroup {
    & + .infoGroup {
      margin-top: 25px;
    }

    .label {
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      margin-bottom: 15px;
      color: #222222;
    }

    .type-order {
      display: flex;
      justify-content: space-between;
    }

    .choose-type-order {
      &.shipping {
        .icn {
          background-image: url('../img/shipping.png');
        }

        &.active {
          .icn {
            background-image: url('../img/shipping-active.png');
          }
        }
      }

      &.pickup {
        .icn {
          background-image: url('../img/pickup.png');
        }

        &.active {
          .icn {
            background-image: url('../img/pickup-active.png');
          }
        }
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: calc((100% - 15px) / 2);
      padding: 9px 0;
      box-sizing: border-box;
      background: #F6F6F6;
      border-bottom: 1.5px solid #F6F6F6;
      border-radius: 6px;

      &.active {
        background: #FFFFFF;
        border: 1.5px solid var(--colorRed);
      }

      .icn {
        width: 32px;
        height: 32px;
        @include bg-thumb();
        margin-right: 11px;

      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Medium;
        color: #222222;

      }
    }

    .date-order {
      display: flex;
      justify-content: space-between;

      .pick-date {
        width: calc((100% - 20px) / 3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #F6F6F6;
        border-radius: 6px;
        font-size: 12px;
        line-height: 100%;
        font-family: BVNPro-Medium;
        text-align: center;
        transition: .2s;
        color: #666666;
        padding: 10px 0;
        box-sizing: border-box;

        &.active {
          background: var(--colorRed);
          color: #FFFFFF;
        }

        .text {
          display: block;
          margin-bottom: 6px;
        }

        .date {
          display: block;
        }
      }
    }

    .time-order {

    }

    .choose-time-order {
      & + .choose-time-order {
        margin-top: 15px;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .choose-ampm {
      margin-left: 9px;
      display: flex;
      background: #F6F6F6;
      border-radius: 6px;

      .ampm-radio {
        font-size: 12px;
        line-height: 100%;
        padding: 11px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: BVNPro-Medium;
        color: #666666;
        border-radius: 6px;
        border: 1.5px solid #F6F6F6;
        transition: .2s;

        &.active {
          background: #ffffff;
          border: 1.5px solid #000000;
          color: #222222;
        }
      }
    }

    .bill-total {

    }

    .food-total {
      & + .food-total {
        margin-top: 15px;
      }

      display: flex;

      .count {
        width: 27px;
        flex-shrink: 0;
        margin-right: 11px;
        font-size: 14px;
        line-height: 140%;
        font-family: BVNPro-Regular;
        display: block;
        color: #222222;
      }

      .info-food {
        flex-grow: 1;
      }

      .name-food {
        font-size: 14px;
        line-height: 140%;
        font-family: BVNPro-Regular;
        color: #222222;
      }

      .options-food {
        margin-top: 4px;
        font-size: 12px;
        line-height: 170%;
        font-family: BVNPro-RegularItalic;
        color: #666666;

        span + span {
          &:before {
            content: ' / ';
          }
        }
      }
    }

    .note-order {
      background: #FFF6ED;
      width: 100%;
      border: none;
      box-sizing: border-box;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      padding: 13px;
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: #222222;

      &::placeholder {
        opacity: 0.5;
      }

    }


  }

  .form-input-user {
    padding: 20px;

    .form-input {
      & + .form-input {
        margin-top: 15px;
      }


    }

    .input-user {
      padding: 12px 13px;
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      position: relative;
    }

    .icn {
      width: 16px;
      display: block;
      margin-right: 16px;
      flex-shrink: 0;
    }

    input, select {
      flex-grow: 1;
      border: none;
      font-size: 14px;
      line-height: 117%;
      font-family: BVNPro-Regular;
      color: #222222;

      &::placeholder {
        opacity: 0.5;

      }
    }

    select:required:invalid {
      color: gray;
    }

    option {
      color: #222222;
    }


    .city {
      font-size: 14px;
      line-height: 100%;
      /* identical to box height, or 14px */
      display: inline-block;
      flex-shrink: 0;
      font-family: BVNPro-Regular;
      color: #222222;
      margin-right: 5px;

      &:after {
        content: '  /';
        opacity: .5;
        margin-left: 5px;
      }
    }

    .autofill-box {
      &.active {
        opacity: 1;
        visibility: visible;
      }

      opacity: 0;
      visibility: hidden;
      transition: .2s;
      position: absolute;
      top: calc(100% + 5px);
      left: -1px;
      width: calc(100% + 2px);
      z-index: 2;
    }

    .list-address {
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 12px 13px;

      li + li {
        padding-top: 10px;
        margin-top: 10px;
        @extend .bt05;
      }

      .address-used {
        font-size: 14px;
        line-height: 119%;
        font-family: BVNPro-Regular;
        display: block;
        color: #222222;
      }
    }

    .trigger-select {
      position: absolute;
      font-size: 12px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--colorRed);
      display: block;
    }


  }

  .remind-user {
    margin-top: 5px;
    padding-bottom: 36px;

    .text {
      font-size: 14px;
      line-height: 130%;
      /* or 18px */
      font-family: BVNPro-Regular;
      text-align: center;
      color: #222222;
      margin-bottom: 38px;
    }

    .images {
      width: 97px;
      margin: 0 auto 20px;

      img {
        width: 100%;
        display: block;
      }
    }

    .remind-text {
      font-size: 14px;
      line-height: 150%;
      font-family: BVNPro-SemiBold;
      text-align: center;
      text-transform: uppercase;

      span {
        color: var(--colorRed);
      }

      color: #111111;

    }
  }

  .payment-box {
    padding: 20px;

    .list-payment {
      margin-bottom: 28px;

      li + li {
        margin-top: 10px;
      }
    }

    .payment-type {
      &.active {
        border: 1.5px solid #B5292F;
        background: #FFFFFF;

        .txt {
          font-family: BVNPro-Medium;
        }
      }

      transition: .2s;
      border: 1.5px solid #F6F6F6;
      box-sizing: border-box;
      background: #F6F6F6;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 16px 20px;

      .icn {
        width: 18px;
        display: block;
        flex-shrink: 0;
        margin-right: 13px;
      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        display: block;
        color: #111111;
      }
    }
  }

  .total-bill-order {
    margin-bottom: 20px;

    .priceFlx {
      & + .priceFlx {
        margin-top: 15px;
      }

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #222222;
    }

    .text {
      display: flex;
      align-items: center;


      span {
        font-size: 12px;
        font-family: BVNPro-Regular;
        color: #B5292F;
        margin-left: 6px;
        display: block;
      }

    }

    .price-detail {
      display: block;
      text-align: right;

      .discount {
        & + .discount {
          margin-top: 5px;
        }

        display: block;
        color: #629050;
      }
    }
  }

  .voucherBox {
    & + .voucherBox {
      margin-top: 15px;
    }

    display: flex;

    .form-input-voucher {
      flex-grow: 1;

      &.approved {
        .checking-voucher {
          display: block;
        }
      }

      &.wrong {
        .noti {
          display: block;
        }
      }
    }

    .input-voucher {
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 10px 11px;
    }

    .noti {
      margin-top: 9px;
      padding-left: 11px;
      font-size: 10px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      display: none;
      color: #B5292F;

    }

    .checking-voucher {
      width: 16px;
      display: none;
      flex-shrink: 0;
      margin-right: 8px;
    }

    input {
      border: none;
      flex-grow: 1;
      font-size: 13px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      color: #222222;
      text-transform: uppercase;

      &::placeholder {
        text-transform: none;
        opacity: 0.5;
      }
    }

    .confirm-btn {
      margin-left: 10px;
      flex-shrink: 0;
      background: #222222;
      border-radius: 6px;
      width: 90px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 140%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;
    }


  }

  .footer-bill {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: inset 0px 0.5px 0px #A08C78;
    padding: 15px 20px 40px;
    box-sizing: border-box;


    .total-checkout {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    .complete-checkout-btn {
      background: #B5292F;
      border-radius: 6px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;

    }

    .text {
      font-size: 16px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: #222222;
    }

    .price-bill {
      text-align: right;
      display: block;
    }

    .price-final {
      font-size: 16px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      color: #B5292F;

    }

    .price-ori {
      font-size: 11px;
      line-height: 130%;
      font-family: BVNPro-Regular;
      margin-top: 6px;
      text-decoration-line: line-through;
      color: #666666;
    }
  }
}

.popup-checkout-active {
  .fancybox-slide--html {
    padding: 0;
  }

  .fancybox-content {
    padding: 0;
    vertical-align: top;
  }

  .fancybox-bg {
    background: rgba(0, 0, 0, .7);
  }

  .fancybox-close-small {
    display: none;
  }
}