.PopUp-detail {
  width: 100vw;

  .popup-detailfood-content {
    position: relative;
    padding-bottom: 100px;

    .close-popup {
      top: 20px;
      left: 20px;
      position: fixed;
      width: 32px;
      display: block;
      z-index: 2;
    }

  }

  .funcsFixed {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 0.5px solid #A08C78;
    padding: 12px 20px 38px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-sizing: border-box;
  }

  .price-total {
    .txt {
      font-size: 10px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      margin-bottom: 3px;
      color: #666666;

    }

    .numb {
      font-size: 15px;
      line-height: 130%;
      font-family: BVNPro-Medium;
      color: #222222;

    }
  }

  .atc-btn, .buy-now {
    &.save-edit{
      background: #222222;
    }
    display: inline-flex;
    padding: 12px 28px;
    font-size: 15px;
    line-height: 100%;
    font-family: BVNPro-Medium;
    color: #FFFFFF;
    background: var(--colorRed);
    border-radius: 34px;
  }

  .galleryBox {
    position: relative;
    z-index: 1;

    .images-food {
      position: relative;
      display: block;
      @include img-border-gallery();

      i {
        width: 100%;
        padding-top: 58.66%;
        @include bg-thumb;
      }
    }
  }

  .paginationBox {
    position: absolute;
    display: inline-flex;
    align-items: center;
    left: 20px;
    bottom: 11px;
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.82);
    backdrop-filter: blur(30px);
    border-radius: 29px;
    z-index: 3;

    .icon {
      width: 10px;
      display: block;
      margin-right: 7px;
    }

    .swiper-pagination {
      position: relative;
      width: auto;
      bottom: auto;
      left: auto;
      display: flex;
      align-items: center;
      font-size: 11px;
      line-height: 100%;
      color: #FFFFFF;
      font-family: 'BVNPro-Medium';

      span {
        width: 8px;
      }
    }
  }

  .bh-logo {
    position: absolute;
    width: 46px;
    display: block;
    right: 20px;
    bottom: -18px;
    z-index: 3;
  }

  .food-info {
    padding: 20px;
    @extend .bb05;
  }

  .name {
    font-size: 19px;
    line-height: 130%;
    /* or 25px */
    padding-right: 55px;
    color: #222222;
    font-family: BVNPro-SemiBold;
  }

  .priceBox {
    display: flex;
    align-items: center;

    .current-price {
      font-size: 16px;
      line-height: 130%;
      font-family: BVNPro-Medium;
      color: var(--colorRed);
    }

    .original-price {
      font-size: 11px;
      line-height: 130%;
      font-family: BVNPro-Regular;
      text-decoration-line: line-through;
      margin-left: 11px;
      color: #999999;
    }
  }

  .sapo {
    &.active {
      overflow: visible;
      -webkit-line-clamp: unset;

      .show-more {
        display: none;
      }
    }

    margin-top: 15px;
    position: relative;
    font-size: 14px;
    line-height: 140%;
    font-family: BVNPro-Regular;
    color: #222222;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    .show-more {
      &:before {
        content: '... ';
        font-family: BVNPro-Regular;
      }

      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 14px;
      line-height: 140%;
      font-family: BVNPro-SemiBold;
      background: #ffffff;
      color: #222222;
    }
  }

  .list-voucher {
    margin-top: 22px;

    li + li {
      margin-top: 13px;
    }

    .voucher {
      display: flex;

      .icn {
        margin-top: 1px;
        width: 16px;
        flex-shrink: 0;
        margin-right: 14px;
      }

      .txt {
        flex-grow: 1;
        font-size: 13px;
        line-height: 130%;
        font-family: BVNPro-Medium;
        color: #629050;

      }
    }
  }

  .order-options {
    padding: 25px 20px;
    @extend .bb05;

    .text {
      font-size: 11px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      margin-bottom: 27px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #999999;

    }
  }

  .noteBox {
    padding: 25px 20px;

    .text {
      font-size: 11px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      margin-bottom: 27px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #999999;

    }

    .text-note {
      background: #F7F7F7;
      border-radius: 6px;
      height: 100px;
      width: 100%;
      border: none;
      outline: none;
      box-shadow: none;
      font-size: 13px;
      line-height: 140%;
      color: #222222;
      padding: 11px 15px;
      font-family: BVNPro-Regular;
      box-sizing: border-box;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}

.popup-active {
  .fancybox-slide--html {
    padding: 0;
  }

  .fancybox-content {
    padding: 0;
    vertical-align: top;
  }

  .fancybox-bg {
    background: none;
  }

  .fancybox-close-small {
    display: none;
  }
}