/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

textarea {
  resize: none;
}

input {
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  --colorRed: #B5292F;
  --colorBe: #FFE6CE;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

.bh-main-header {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background: var(--colorRed);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}
.bh-main-header .header-content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bh-main-header .burger {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.bh-main-header .burger .toggle-btn {
  display: block;
  position: relative;
  width: 100%;
  height: 14px;
}
.bh-main-header .burger i {
  width: 100%;
  height: 1.8px;
  background: var(--colorBe);
  position: absolute;
  top: 0;
}
.bh-main-header .burger i:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.bh-main-header .burger i:nth-child(3) {
  width: 50%;
  top: auto;
  bottom: 0;
}
.bh-main-header .bh-logo {
  width: 48px;
  display: block;
}
.bh-main-header .searchBox {
  position: relative;
}
.bh-main-header .searchBox .searchBtn {
  width: 24px;
  display: block;
}

.bh-home_banner-top {
  padding: 16px 20px 0;
  position: relative;
  margin-bottom: 30px;
}
.bh-home_banner-top:before {
  width: 100%;
  height: calc(100% - 20px);
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #FFE6CE 0%, rgba(255, 230, 206, 0) 100%);
}
.bh-home_banner-top .address-store {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.bh-home_banner-top .address-store .icn {
  width: 16px;
  display: block;
  margin-right: 9px;
}
.bh-home_banner-top .address-store .name {
  font-size: 13px;
  line-height: 100%;
  color: #222222;
  margin-left: 0;
  margin-right: auto;
}
.bh-home_banner-top .address-store .changeBtn {
  font-size: 12px;
  line-height: 100%;
  display: block;
  color: var(--colorRed);
}
.bh-home_banner-top .swiper-hbanner {
  position: relative;
  border-radius: 6px;
}
.bh-home_banner-top .swiper-hbanner .bannerHome {
  width: 100%;
  display: block;
}
.bh-home_banner-top .swiper-hbanner .bannerHome i {
  width: 100%;
  padding-top: 41.79%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  border-radius: 6px;
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination {
  bottom: 0;
  height: 20px;
  box-sizing: border-box;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(40px);
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.3;
  background: #A08C78;
  width: 5px;
  height: 5px;
  margin: 0;
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}

.bh-wrapper {
  padding-top: 60px;
}

/*# sourceMappingURL=main.css.map */
