/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

textarea {
  resize: none;
}

input {
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  --colorRed: #B5292F;
  --colorBe: #FFE6CE;
}

.bb05, .PopUp-detail .food-info, .bh-menu-list li {
  border-bottom: 1px solid #E7E7E7;
}

.bt05, .bh-menu-list li:nth-child(1) {
  border-top: 1px solid #E7E7E7;
}

@media screen and (max-width: 800px) {
  .bb05, .PopUp-detail .food-info, .bh-menu-list li {
    border-bottom: 0.5px solid #E7E7E7;
  }

  .bt05, .bh-menu-list li:nth-child(1) {
    border-top: 0.5px solid #E7E7E7;
  }
}
svg {
  width: 100%;
  height: auto;
  display: block;
}

/* Custom animation */
.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateY(0);
}

/* Custom flexbox */
.flexBox {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.al-ct {
  align-items: center;
}

/* Custom input number order */
.number-order {
  display: flex;
  align-items: center;
}
.number-order span {
  cursor: pointer;
}
.number-order .minus, .number-order .plus {
  width: 28px;
  display: block;
}
.number-order input {
  margin: 0 10px;
  height: 30px;
  width: 38px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  line-height: 140%;
  font-family: BVNPro-Medium;
  color: #222222;
}

@font-face {
  font-family: BVNPro-Regular;
  src: url("../fonts/BVNPro-Regular.ttf");
}
@font-face {
  font-family: BVNPro-Medium;
  src: url("../fonts/BVNPro-Medium.ttf");
}
@font-face {
  font-family: BVNPro-SemiBold;
  src: url("../fonts/BVNPro-SemiBold.ttf");
}
@font-face {
  font-family: BVNPro-Bold;
  src: url("../fonts/BVNPro-Bold.ttf");
}
.bh-main-header {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background: var(--colorRed);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}
.bh-main-header .header-content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bh-main-header .burger {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.bh-main-header .burger .toggle-btn {
  display: block;
  position: relative;
  width: 100%;
  height: 14px;
}
.bh-main-header .burger i {
  width: 100%;
  height: 1.8px;
  background: var(--colorBe);
  position: absolute;
  top: 0;
}
.bh-main-header .burger i:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.bh-main-header .burger i:nth-child(3) {
  width: 50%;
  top: auto;
  bottom: 0;
}
.bh-main-header .bh-logo {
  width: 48px;
  display: block;
}
.bh-main-header .searchBox {
  position: relative;
}
.bh-main-header .searchBox .searchBtn {
  width: 24px;
  display: block;
}

.bh-home_banner-top {
  padding: 16px 20px 0;
  position: relative;
  margin-bottom: 30px;
}
.bh-home_banner-top:before {
  width: 100%;
  height: calc(100% - 20px);
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #FFE6CE 0%, rgba(255, 230, 206, 0) 100%);
}
.bh-home_banner-top .address-store {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.bh-home_banner-top .address-store .icn {
  width: 16px;
  display: block;
  margin-right: 9px;
}
.bh-home_banner-top .address-store .name {
  font-size: 13px;
  line-height: 100%;
  font-family: BVNPro-Regular;
  color: #222222;
  margin-left: 0;
  margin-right: auto;
}
.bh-home_banner-top .address-store .changeBtn {
  font-size: 12px;
  line-height: 100%;
  display: block;
  font-family: BVNPro-Regular;
  color: var(--colorRed);
}
.bh-home_banner-top .swiper-hbanner {
  position: relative;
  border-radius: 6px;
}
.bh-home_banner-top .swiper-hbanner .bannerHome {
  width: 100%;
  display: block;
}
.bh-home_banner-top .swiper-hbanner .bannerHome i {
  width: 100%;
  padding-top: 41.79%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  border-radius: 6px;
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination {
  bottom: 0;
  height: 20px;
  box-sizing: border-box;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(40px);
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.3;
  background: #A08C78;
  width: 5px;
  height: 5px;
  margin: 0;
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.bh-home_banner-top .swiper-hbanner .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}

.bh-home-contact {
  background: #FFFFFF;
  border: 0.7px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 52px;
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto 33px;
}
.bh-home-contact .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  line-height: 100%;
  font-family: BVNPro-Bold;
  top: -4px;
  display: inline-block;
  padding: 0 9px;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #B5292F;
}
.bh-home-contact .call-to {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bh-home-contact .icn {
  width: 20px;
  display: block;
  margin-right: 13px;
}
.bh-home-contact .txt {
  font-size: 17px;
  line-height: 100%;
  font-family: BVNPro-SemiBold;
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222222;
}

.bh-home-menu .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.bh-home-menu .heading .icn {
  width: 60px;
}
.bh-home-menu .heading .txt {
  font-size: 15px;
  line-height: 100%;
  font-family: BVNPro-SemiBold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0 17px;
  color: #222222;
}
.bh-home-menu .tagBox {
  background: #ffffff;
  z-index: 999 !important;
}
.bh-home-menu .tagBox .menu__tags-list {
  padding: 10px 0;
}
.bh-home-menu .tagBox .menu__tags-list .swiper-slide {
  width: auto;
  margin-left: 8px;
}
.bh-home-menu .tagBox .menu__tags-list .swiper-slide:nth-child(1) {
  margin-left: 20px;
}
.bh-home-menu .tagBox .menu__tags-list .swiper-slide:nth-last-child(1) {
  margin-right: 60px;
}
.bh-home-menu .tagBox .menu__tags-list .tags-filter {
  transition: 0.3s;
  display: inline-flex;
  background: #F6F6F6;
  border-radius: 15px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-size: 13px;
  line-height: 100%;
  font-family: BVNPro-Regular;
  text-align: center;
  color: #222222;
}
.bh-home-menu .tagBox .menu__tags-list .tags-filter.active {
  background: #B5292F;
  color: #FFFFFF;
}
.bh-home-menu .tagBox .menu__tags-list .swiper-button-prev {
  display: none;
}
.bh-home-menu .tagBox .menu__tags-list .swiper-button-next {
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
  width: 60px;
  background: none;
  border: none;
  outline: none;
  right: 0;
  top: 0;
  margin: 0;
}
.bh-home-menu .tagBox .menu__tags-list .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.bh-menu-list li {
  padding: 15px 20px;
}
.food-card {
  display: flex;
}
.food-card.hot .status {
  opacity: 1;
  visibility: visible;
}
.food-card .thumb {
  width: 26.86%;
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  display: block;
}
.food-card .thumb i {
  width: 100%;
  padding-top: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: relative;
}
.food-card .thumb i:before {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  content: "";
  z-index: 1;
  box-sizing: border-box;
  border-radius: 6px;
}
.food-card .status {
  background: #FFE600;
  border-radius: 0px 14px 14px 0px;
  position: absolute;
  left: 0;
  top: 5px;
  display: inline-flex;
  padding: 3px 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 10px;
  line-height: 130%;
  font-family: BVNPro-Medium;
  color: #222222;
}
.food-card .total-food {
  flex-grow: 1;
}
.food-card .name {
  font-size: 15px;
  line-height: 130%;
  font-family: BVNPro-SemiBold;
  display: block;
  margin-bottom: 6px;
  color: #222222;
}
.food-card .price {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.food-card .price .current-price {
  font-size: 13px;
  line-height: 130%;
  font-family: BVNPro-Medium;
  color: #B5292F;
}
.food-card .price .original-price {
  font-size: 10px;
  line-height: 130%;
  font-family: BVNPro-Regular;
  margin-left: 6px;
  text-decoration-line: line-through;
  color: #999999;
}
.food-card .voucher {
  display: flex;
  align-items: center;
}
.food-card .voucher .icn {
  width: 12px;
  margin-right: 6px;
  flex-shrink: 0;
}
.food-card .voucher .text {
  flex-grow: 1;
  font-size: 10px;
  line-height: 130%;
  font-family: BVNPro-Medium;
  color: #629050;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.food-card .funcsBox {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.food-card .buy-now, .food-card .add-to-card {
  width: calc((100% - 12px) / 2);
  font-size: 13px;
  line-height: 100%;
  border-radius: 25px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: BVNPro-Regular;
}
.food-card .buy-now {
  background: #F7F7F7;
  color: #666666;
}
.food-card .add-to-card {
  background: #B5292F;
  color: #FFFFFF;
}

.go-to-top {
  margin-top: 15px;
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-to-top .txt {
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */
  font-family: BVNPro-Regular;
  display: block;
  margin-right: 3px;
  color: #A08C78;
}
.go-to-top .icn {
  width: 12px;
  display: block;
}

.PopUp-detail {
  width: 100vw;
}
.PopUp-detail .popup-content {
  position: relative;
}
.PopUp-detail .popup-content .close-popup {
  top: 20px;
  left: 20px;
  position: absolute;
  width: 32px;
  display: block;
  z-index: 2;
}
.PopUp-detail .galleryBox {
  position: relative;
  z-index: 1;
}
.PopUp-detail .galleryBox .images-food {
  position: relative;
  display: block;
  position: relative;
}
.PopUp-detail .galleryBox .images-food:before {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  content: "";
  z-index: 1;
  box-sizing: border-box;
}
.PopUp-detail .galleryBox .images-food i {
  width: 100%;
  padding-top: 58.66%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}
.PopUp-detail .paginationBox {
  position: absolute;
  display: inline-flex;
  align-items: center;
  left: 20px;
  bottom: 11px;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.82);
  backdrop-filter: blur(30px);
  border-radius: 29px;
  z-index: 3;
}
.PopUp-detail .paginationBox .icon {
  width: 10px;
  display: block;
  margin-right: 7px;
}
.PopUp-detail .paginationBox .swiper-pagination {
  position: relative;
  width: auto;
  bottom: auto;
  left: auto;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 100%;
  color: #FFFFFF;
  font-family: "BVNPro-Medium";
}
.PopUp-detail .paginationBox .swiper-pagination span {
  width: 8px;
}
.PopUp-detail .bh-logo {
  position: absolute;
  width: 46px;
  display: block;
  right: 20px;
  bottom: -18px;
  z-index: 3;
}
.PopUp-detail .food-info {
  padding: 20px;
}
.PopUp-detail .name {
  font-size: 19px;
  line-height: 130%;
  /* or 25px */
  padding-right: 55px;
  color: #222222;
  font-family: BVNPro-SemiBold;
}
.PopUp-detail .priceBox {
  display: flex;
  align-items: center;
}
.PopUp-detail .priceBox .current-price {
  font-size: 16px;
  line-height: 130%;
  font-family: BVNPro-Medium;
  color: #B5292F;
}
.PopUp-detail .priceBox .original-price {
  font-size: 11px;
  line-height: 130%;
  font-family: BVNPro-Regular;
  text-decoration-line: line-through;
  margin-left: 11px;
  color: #999999;
}

.popup-active .fancybox-slide--html {
  padding: 0;
}
.popup-active .fancybox-content {
  padding: 0;
  vertical-align: top;
}
.popup-active .fancybox-bg {
  background: none;
}

.bh-wrapper {
  padding-top: 60px;
}

/*# sourceMappingURL=main.css.map */
